body, html {
    color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
}

.ck-editor__editable {
    min-height: 100vh; /* ajuste o valor "100px" conforme necessário */
}

#editor-container {
    position: relative; /* Defina como relativo */
    width: 100%;
   /*height: calc(100% - 50px); /* Desconta o tamanho aproximado da barra de disclaimer */
    overflow: hidden; /* Isso irá esconder qualquer overflow */
}

textarea#editor {
    width: 100%;
    height: 100%;
    border: none;
    resize: none; /* Desabilita o redimensionamento manual */
    outline: none; /* Remove o contorno ao focar no textarea */
    padding: 20px; /* Adiciona algum padding para tornar o texto mais legível */
    box-sizing: border-box; /* Isso fará com que o padding não afete a dimensão total do textarea */
    font-family: 'Lucida Console', sans-serif; /* Use a fonte que preferir */
    font-size: 16px;
}

.disclaimer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.close-disclaimer {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal {
    background-color: #ffffff;
    padding: 20px;
    width: 60%;
    max-width: 500px;
}

button {
    display: block;
    margin: 20px auto 0;
}